<%-include("./partials/header")-%>
<body class="bg-blue-500">
  <div class="flex items-center justify-center h-screen">
    <div class="bg-white rounded-lg shadow-2xl w-[30%] h-[50%] flex flex-col items-center justify-center bg-opacity-90 py-10">
      <h1 class="font-bold text-2xl text-center mb-7">LOGIN</h1>
      <form action="/login" method="post" class="flex flex-col w-[70%]">
        <div class="bg-slate-900 flex rounded-md mb-2">
          <label for="email" class="p-2">
            <img src="/img/email-icon.svg" class="filter invert sepia saturate-2184 hue-rotate-134 brightness-117 contrast-108 w-7" />
          </label>
          <input type="text" name="email" id="email" class="bg-slate-600 outline-none placeholder-white placeholder:text-sm placeholder-opacity-60 text-white focus:ring-0 w-[120%] rounded-e-md pl-2" placeholder="Email" />
        </div>
        <div class="bg-slate-900 flex rounded-md">
          <label for="password" class="p-2">
            <img src="/img/lock-icon.svg" class="filter invert sepia saturate-2184 hue-rotate-134 brightness-117 contrast-108 w-7" />
          </label>
          <input type="password" name="password" id="password" class="bg-slate-600 outline-none placeholder-white placeholder:text-sm placeholder-opacity-60 text-white focus:ring-0 w-[120%] rounded-e-md pl-2" placeholder="Password" />
        </div>
        <button type="submit" value="Login" class="bg-sky-500 text-white py-1 rounded-full mt-2">Login</button>
      </form>
      <p class="text-center mt-1 text-slate-400">Don't have an account? <a href="/register" class="font-semibold text-blue-700">Register</a></p>
    </div>
  </div>
</body>
